USE [master]
GO
/****** Object:  Database [Box]    Script Date: 31-3-2024 23:04:04 ******/
CREATE DATABASE [Box]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Box', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Box.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Box_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Box_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Box].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Box]
GO
/****** Object:  Table [dbo].[dbCustomer]    Script Date: 31-3-2024 23:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerFirstname] [varchar](50) NULL,
	[CustomerLastname] [varchar](50) NULL,
	[CustomerAddress] [varchar](50) NULL,
	[CustomerZipCode] [varchar](50) NULL,
	[CustomerPhoneNumber] [varchar](50) NULL,
	[CustomerEmail] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbInvoice]    Script Date: 31-3-2024 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbInvoice](
	[Id] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductName] [varchar](50) NULL,
	[InvoicePrice] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbProduct]    Script Date: 31-3-2024 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductDescription] [varchar](100) NULL,
	[ProductPrice] [int] NULL,
	[ProductQuantity] [int] NULL,
 CONSTRAINT [PK_dbProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbRegister]    Script Date: 31-3-2024 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbRegister](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbRegister] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 31-3-2024 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductName] [varchar](50) NULL,
	[InvoicePrice] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dbCustomer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Customer] FOREIGN KEY([Id])
REFERENCES [dbo].[dbCustomer] ([Id])
GO
ALTER TABLE [dbo].[dbCustomer] CHECK CONSTRAINT [FK_Customer_Customer]
GO
ALTER TABLE [dbo].[dbRegister]  WITH CHECK ADD  CONSTRAINT [FK_dbRegister_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[dbCustomer] ([Id])
GO
ALTER TABLE [dbo].[dbRegister] CHECK CONSTRAINT [FK_dbRegister_Customer]
GO
ALTER TABLE [dbo].[dbRegister]  WITH CHECK ADD  CONSTRAINT [FK_dbRegister_dbProduct] FOREIGN KEY([ProductId])
REFERENCES [dbo].[dbProduct] ([Id])
GO
ALTER TABLE [dbo].[dbRegister] CHECK CONSTRAINT [FK_dbRegister_dbProduct]
GO
ALTER TABLE [dbo].[dbRegister]  WITH CHECK ADD  CONSTRAINT [FK_dbRegister_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
GO
ALTER TABLE [dbo].[dbRegister] CHECK CONSTRAINT [FK_dbRegister_Invoice]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Customer] FOREIGN KEY([Id])
REFERENCES [dbo].[dbCustomer] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Customer]
GO
USE [master]
GO
